<!DOCTYPE html> 
<html lang="en-us">
<head>
	<title>
		(Hu)go Template Primer - Please, don&#39;t hurt my computer.
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow">
	<base href="https://abusing.technology/">
	<link rel="canonical" href="https://abusing.technology/post/goisforlovers/"><meta name="description" content="160 characters or less describing you or your organization or your site&#39;s purpose.">
	<link rel="preload" href="https://abusing.technology/css/smorg.min.css" as="style">
	<link rel="stylesheet" href="https://abusing.technology/css/smorg.min.css">
	<meta name="generator" content="Hugo 0.39" />

</head>
<body>
		
	<nav class="navbar" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item has-text-white-ter" 
				   href="https://abusing.technology/"><span class="has-text-weight-bold"><span class="has-text-weight-bold">abusing.<span class="has-text-danger">technology</span></span></span>
</a>
				<div class="navbar-burger burger" data-target="navMenu">
				  <span></span>
				  <span></span>
				  <span></span>
				</div>
			</div>
			<div class="navbar-menu" id="navMenu">
				<div class="navbar-end">
					
	<div class="navbar-item has-dropdown is-hoverable">
		
	<a class="navbar-link" href="https://abusing.technology/about/">About</a>
<div class="navbar-dropdown">
	<a class="navbar-item" href="https://abusing.technology/about/contact/">Contact Us</a>

	<a class="navbar-item" href="https://abusing.technology/about/hugo/">This Theme</a>
</div>
	</div>
	<div class="navbar-item has-dropdown is-hoverable">
		
	<a class="navbar-link" href="https://abusing.technology/project/">Projects</a>
<div class="navbar-dropdown">
	<a class="navbar-item" href="https://abusing.technology/project/blorg-bread-machine/">Blorg Bread Machine</a>

	<a class="navbar-item" href="https://abusing.technology/project/xyz-1000/">XYZ-1000</a>
</div>
	</div>
	<a class="navbar-item" href="https://abusing.technology/post/">Blog</a>




				</div>
			</div>
		</div>
	</nav>
<section class="section" itemscope itemtype="http://schema.org/WebPage">
	<div class="container">
		<div class="columns">
			<div class="column is-8 is-offset-2">
				<article class="content">
					<h1 class="title is-3">(Hu)go Template Primer</h1>
					<p class="subtitle is-6 has-text-grey">
					<em>Posted 
<time datetime="2014-04-02">2 April 2014</time> in <a href="https://abusing.technology/categories/development">Development</a>, <a href="https://abusing.technology/categories/golang">golang</a>; tagged with 
<a href="https://abusing.technology/tags/development">development</a>,
<a href="https://abusing.technology/tags/go">go</a>,
<a href="https://abusing.technology/tags/templates">templates</a>,
<a href="https://abusing.technology/tags/themes">themes</a>
</em></p>


<p>Hugo uses the excellent <a href="http://golang.org/&gt;">go</a> <a href="http://golang.org/pkg/html/template/&gt;">html/template</a> library for
its template engine. It is an extremely lightweight engine that provides a very
small amount of logic. In our experience that it is just the right amount of
logic to be able to create a good static website. If you have used other
template systems from different languages or frameworks you will find a lot of
similarities in go templates.</p>

<p>This document is a brief primer on using go templates. The <a href="http://golang.org/pkg/html/template/&gt;">go docs</a>
provide more details.</p>

<h2 id="introduction-to-go-templates">Introduction to Go Templates</h2>

<p>Go templates provide an extremely simple template language. It adheres to the
belief that only the most basic of logic belongs in the template or view layer.
One consequence of this simplicity is that go templates parse very quickly.</p>

<p>A unique characteristic of go templates is they are content aware. Variables and
content will be sanitized depending on the context of where they are used. More
details can be found in the <a href="http://golang.org/pkg/html/template/&gt;">go docs</a>.</p>

<h2 id="basic-syntax">Basic Syntax</h2>

<p>Go lang templates are html files with the addition of variables and
functions.</p>

<p><strong>Go variables and functions are accessible within {{ }}</strong></p>

<p>Accessing a predefined variable &ldquo;foo&rdquo;:</p>
<div class="highlight"><pre class="chroma">{{ foo }}</pre></div>
<p><strong>Parameters are separated using spaces</strong></p>

<p>Calling the add function with input of 1, 2:</p>
<div class="highlight"><pre class="chroma">{{ add 1 2 }}</pre></div>
<p><strong>Methods and fields are accessed via dot notation</strong></p>

<p>Accessing the Page Parameter &ldquo;bar&rdquo;</p>
<div class="highlight"><pre class="chroma">{{ .Params.bar }}</pre></div>
<p><strong>Parentheses can be used to group items together</strong></p>
<div class="highlight"><pre class="chroma">{{ if or (isset .Params &#34;alt&#34;) (isset .Params &#34;caption&#34;) }} Caption {{ end }}</pre></div>
<h2 id="variables">Variables</h2>

<p>Each go template has a struct (object) made available to it. In hugo each
template is passed either a page or a node struct depending on which type of
page you are rendering. More details are available on the
<a href="/layout/variables">variables</a> page.</p>

<p>A variable is accessed by referencing the variable name.</p>
<div class="highlight"><pre class="chroma">&lt;title&gt;{{ .Title }}&lt;/title&gt;</pre></div>
<p>Variables can also be defined and referenced.</p>
<div class="highlight"><pre class="chroma">{{ $address := &#34;123 Main St.&#34;}}
{{ $address }}</pre></div>
<h2 id="functions">Functions</h2>

<p>Go template ship with a few functions which provide basic functionality. The go
template system also provides a mechanism for applications to extend the
available functions with their own. <a href="/layout/functions">Hugo template
functions</a> provide some additional functionality we believe
are useful for building websites. Functions are called by using their name
followed by the required parameters separated by spaces. Template
functions cannot be added without recompiling hugo.</p>

<p><strong>Example:</strong></p>
<div class="highlight"><pre class="chroma">{{ add 1 2 }}</pre></div>
<h2 id="includes">Includes</h2>

<p>When including another template you will pass to it the data it will be
able to access. To pass along the current context please remember to
include a trailing dot. The templates location will always be starting at
the /layout/ directory within Hugo.</p>

<p><strong>Example:</strong></p>
<div class="highlight"><pre class="chroma">{{ template &#34;chrome/header.html&#34; . }}</pre></div>
<h2 id="logic">Logic</h2>

<p>Go templates provide the most basic iteration and conditional logic.</p>

<h3 id="iteration">Iteration</h3>

<p>Just like in go, the go templates make heavy use of range to iterate over
a map, array or slice. The following are different examples of how to use
range.</p>

<p><strong>Example 1: Using Context</strong></p>
<div class="highlight"><pre class="chroma">{{ range array }} 
    {{ . }}
{{ end }}</pre></div>
<p><strong>Example 2: Declaring value variable name</strong></p>
<div class="highlight"><pre class="chroma">{{range $element := array}} 
    {{ $element }} 
{{ end }}</pre></div>
<p><strong>Example 2: Declaring key and value variable name</strong></p>
<div class="highlight"><pre class="chroma"><code class="language-go" data-lang="go"><span class="p">{{</span><span class="k">range</span> <span class="err">$</span><span class="nx">index</span><span class="p">,</span> <span class="err">$</span><span class="nx">element</span> <span class="o">:=</span> <span class="nx">array</span><span class="p">}}</span>
	<span class="p">{{</span> <span class="err">$</span><span class="nx">index</span> <span class="p">}}</span> 
	<span class="p">{{</span> <span class="err">$</span><span class="nx">element</span> <span class="p">}}</span> 
<span class="p">{{</span> <span class="nx">end</span> <span class="p">}}</span></code></pre></div>
<h3 id="conditionals">Conditionals</h3>

<p>If, else, with, or, &amp; and provide the framework for handling conditional
logic in Go Templates. Like range, each statement is closed with <code>end</code>.</p>

<p>Go Templates treat the following values as false:</p>

<ul>
<li>false</li>
<li>0</li>
<li>any array, slice, map, or string of length zero</li>
</ul>

<p><strong>Example 1: If</strong></p>
<div class="highlight"><pre class="chroma">{{ if isset .Params &#34;title&#34; }}&lt;h4&gt;{{ index .Params &#34;title&#34; }}&lt;/h4&gt;{{ end }}</pre></div>
<p><strong>Example 2: If -&gt; Else</strong></p>
<div class="highlight"><pre class="chroma">{{ if isset .Params &#34;alt&#34; }} 
    {{ index .Params &#34;alt&#34; }}
{{else}}
    {{ index .Params &#34;caption&#34; }}
{{ end }}</pre></div>
<p><strong>Example 3: And &amp; Or</strong></p>
<div class="highlight"><pre class="chroma">{{ if and (or (isset .Params &#34;title&#34;) (isset .Params &#34;caption&#34;)) (isset .Params &#34;attr&#34;)}}</pre></div>
<p><strong>Example 4: With</strong></p>

<p>An alternative way of writing &ldquo;if&rdquo; and then referencing the same value
is to use &ldquo;with&rdquo; instead. With rebinds the context <code>.</code> within its scope,
and skips the block if the variable is absent.</p>

<p>The first example above could be simplified as:</p>
<div class="highlight"><pre class="chroma">{{ with .Params.title }}&lt;h4&gt;{{ . }}&lt;/h4&gt;{{ end }}</pre></div>
<p><strong>Example 5: If -&gt; Else If</strong></p>
<div class="highlight"><pre class="chroma">{{ if isset .Params &#34;alt&#34; }} 
    {{ index .Params &#34;alt&#34; }}
{{ else if isset .Params &#34;caption&#34; }}
    {{ index .Params &#34;caption&#34; }}
{{ end }}</pre></div>
<h2 id="pipes">Pipes</h2>

<p>One of the most powerful components of go templates is the ability to
stack actions one after another. This is done by using pipes. Borrowed
from unix pipes, the concept is simple, each pipeline&rsquo;s output becomes the
input of the following pipe.</p>

<p>Because of the very simple syntax of go templates, the pipe is essential
to being able to chain together function calls. One limitation of the
pipes is that they only can work with a single value and that value
becomes the last parameter of the next pipeline.</p>

<p>A few simple examples should help convey how to use the pipe.</p>

<p><strong>Example 1 :</strong></p>
<div class="highlight"><pre class="chroma">{{ if eq 1 1 }} Same {{ end }}</pre></div>
<p>is the same as</p>
<div class="highlight"><pre class="chroma">{{ eq 1 1 | if }} Same {{ end }}</pre></div>
<p>It does look odd to place the if at the end, but it does provide a good
illustration of how to use the pipes.</p>

<p><strong>Example 2 :</strong></p>
<div class="highlight"><pre class="chroma">{{ index .Params &#34;disqus_url&#34; | html }}</pre></div>
<p>Access the page parameter called &ldquo;disqus_url&rdquo; and escape the HTML.</p>

<p><strong>Example 3 :</strong></p>
<div class="highlight"><pre class="chroma">{{ if or (or (isset .Params &#34;title&#34;) (isset .Params &#34;caption&#34;)) (isset .Params &#34;attr&#34;)}}
Stuff Here
{{ end }}</pre></div>
<p>Could be rewritten as</p>
<div class="highlight"><pre class="chroma">{{  isset .Params &#34;caption&#34; | or isset .Params &#34;title&#34; | or isset .Params &#34;attr&#34; | if }}
Stuff Here 
{{ end }}</pre></div>
<h2 id="context-aka-the-dot">Context (aka. the dot)</h2>

<p>The most easily overlooked concept to understand about go templates is that {{ . }}
always refers to the current context. In the top level of your template this
will be the data set made available to it. Inside of a iteration it will have
the value of the current item. When inside of a loop the context has changed. .
will no longer refer to the data available to the entire page. If you need to
access this from within the loop you will likely want to set it to a variable
instead of depending on the context.</p>

<p><strong>Example:</strong></p>
<div class="highlight"><pre class="chroma">  {{ $title := .Site.Title }}
  {{ range .Params.tags }}
    &lt;li&gt; &lt;a href=&#34;{{ $baseurl }}/tags/{{ . | urlize }}&#34;&gt;{{ . }}&lt;/a&gt; - {{ $title }} &lt;/li&gt;
  {{ end }}</pre></div>
<p>Notice how once we have entered the loop the value of {{ . }} has changed. We
have defined a variable outside of the loop so we have access to it from within
the loop.</p>

<h1 id="hugo-parameters">Hugo Parameters</h1>

<p>Hugo provides the option of passing values to the template language
through the site configuration (for sitewide values), or through the meta
data of each specific piece of content. You can define any values of any
type (supported by your front matter/config format) and use them however
you want to inside of your templates.</p>

<h2 id="using-content-page-parameters">Using Content (page) Parameters</h2>

<p>In each piece of content you can provide variables to be used by the
templates. This happens in the <a href="/content/front-matter">front matter</a>.</p>

<p>An example of this is used in this documentation site. Most of the pages
benefit from having the table of contents provided. Sometimes the TOC just
doesn&rsquo;t make a lot of sense. We&rsquo;ve defined a variable in our front matter
of some pages to turn off the TOC from being displayed.</p>

<p>Here is the example front matter:</p>
<div class="highlight"><pre class="chroma">---
title: &#34;Permalinks&#34;
date: &#34;2013-11-18&#34;
aliases:
  - &#34;/doc/permalinks/&#34;
groups: [&#34;extras&#34;]
groups_weight: 30
notoc: true
---</pre></div>
<p>Here is the corresponding code inside of the template:</p>
<div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">  {{ if not .Params.notoc }}
	<span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&#34;toc&#34;</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;well col-md-4 col-sm-6&#34;</span><span class="p">&gt;</span>
	{{ .TableOfContents }}
	<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  {{ end }}</code></pre></div>
<h2 id="using-site-config-parameters">Using Site (config) Parameters</h2>

<p>In your top-level configuration file (eg, <code>config.yaml</code>) you can define site
parameters, which are values which will be available to you in chrome.</p>

<p>For instance, you might declare:</p>
<div class="highlight"><pre class="chroma"><code class="language-yaml" data-lang="yaml">params<span class="p">:</span><span class="w">
</span><span class="w">  </span>CopyrightHTML<span class="p">:</span><span class="w"> </span><span class="s2">&#34;Copyright &amp;#xA9; 2013 John Doe. All Rights Reserved.&#34;</span><span class="w">
</span><span class="w">  </span>TwitterUser<span class="p">:</span><span class="w"> </span><span class="s2">&#34;spf13&#34;</span><span class="w">
</span><span class="w">  </span>SidebarRecentLimit<span class="p">:</span><span class="w"> </span><span class="m">5</span></code></pre></div>
<p>Within a footer layout, you might then declare a <code>&lt;footer&gt;</code> which is only
provided if the <code>CopyrightHTML</code> parameter is provided, and if it is given,
you would declare it to be HTML-safe, so that the HTML entity is not escaped
again.  This would let you easily update just your top-level config file each
January 1st, instead of hunting through your templates.</p>
<div class="highlight"><pre class="chroma">{{if .Site.Params.CopyrightHTML}}&lt;footer&gt;
&lt;div class=&#34;text-center&#34;&gt;{{.Site.Params.CopyrightHTML | safeHtml}}&lt;/div&gt;
&lt;/footer&gt;{{end}}</pre></div>
<p>An alternative way of writing the &ldquo;if&rdquo; and then referencing the same value
is to use &ldquo;with&rdquo; instead. With rebinds the context <code>.</code> within its scope,
and skips the block if the variable is absent:</p>
<div class="highlight"><pre class="chroma">{{with .Site.Params.TwitterUser}}&lt;span class=&#34;twitter&#34;&gt;
&lt;a href=&#34;https://twitter.com/{{.}}&#34; rel=&#34;author&#34;&gt;
&lt;img src=&#34;/images/twitter.png&#34; width=&#34;48&#34; height=&#34;48&#34; title=&#34;Twitter: {{.}}&#34;
 alt=&#34;Twitter&#34;&gt;&lt;/a&gt;
&lt;/span&gt;{{end}}</pre></div>
<p>Finally, if you want to pull &ldquo;magic constants&rdquo; out of your layouts, you can do
so, such as in this example:</p>
<div class="highlight"><pre class="chroma">&lt;nav class=&#34;recent&#34;&gt;
  &lt;h1&gt;Recent Posts&lt;/h1&gt;
  &lt;ul&gt;{{range first .Site.Params.SidebarRecentLimit .Site.Recent}}
    &lt;li&gt;&lt;a href=&#34;{{.RelPermalink}}&#34;&gt;{{.Title}}&lt;/a&gt;&lt;/li&gt;
  {{end}}&lt;/ul&gt;
&lt;/nav&gt;</pre></div>
					

				</article>
			</div>
		</div>
	</div>
</section>

<footer class="footer">
  <div class="container content">
	<div class="has-text-centered">
		<p>Making tech misbehave since 1985.
			  
		   <span class="has-text-weight-bold">abusing.<span class="has-text-danger">technology</span></span>
			   
		   </p>
		<hr>
		<p class="has-text-grey is-size-7">
		 <i class="fab fa-github"></i> <a href="https://github.com/solutionroute/hugo-smorg">github.com/solutionroute/hugo-smorg</a><br>
			   
		 2018 &copy; Abusing Technology<br>
			   
		</p>
	</div>
  </div>
</footer>


<script type="application/ld+json">
{ 
	"@context": "http://schema.org", 
	"@type": "WebPage",
	"@id": "https://abusing.technology/post/goisforlovers/",
	"name": "(Hu)go Template Primer",
}
</script>




<script>
document.addEventListener('DOMContentLoaded', function () {
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {
        var target = $el.dataset.target;
        var $target = document.getElementById(target);
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
</script>
 

</body>
</html>
